h5 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
} 


h4 { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
} 

h3 { font-family: "Century Gothic"; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 11px; 
} 

select{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.7px; 
}

.form-label{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

.form-select{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

th { 
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 22.4px;
}

td { font-family: "Century Gothic"; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.7px; 
}

p {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.7px; 
}

/* Aplica layout fijo y que ocupe todo el contenedor */
.fixed-table {
  width: 100%;
  table-layout: fixed; /* Fija las columnas según colgroup o CSS */
}

/* Permite que el texto se ajuste verticalmente */
.cell-wrap {
  white-space: normal !important;      /* Quita nowrap */
  overflow-wrap: break-word;           /* Divide palabras largas */
  vertical-align: top;                 /* Alinea la celda arriba */
}

/* src/app/components/cumplimiento-agenda/cumplimiento-agenda.component.css */

/* Estilos básicos; ajústalos a tu paleta o framework */
table {
  border: 1px solid #d1d5db; /* gris claro */
}
th, td {
  padding: 0.5rem 1rem;
}
th {
  background-color: #f3f4f6; /* gris muy claro */
  font-weight: 600;
}


/* Opcional: si no usas colgroup, puedes asignar anchos por columna */
.fixed-table th:nth-child(1),
.fixed-table td:nth-child(1) { width: 10%; }
.fixed-table th:nth-child(2),
.fixed-table td:nth-child(2) { width: 30%; }
.fixed-table th:nth-child(3),
.fixed-table td:nth-child(3) { width: 45; }
.fixed-table th:nth-child(4),
.fixed-table td:nth-child(4) { width: 15%; }
