a { font-family: "Century Gothic", 
        CenturyGothic, 
        AppleGothic, 
        sans-serif; 
    font-size: 12px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 22.8px; 
}