<br>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h5 class="card-title">Generar Reporte Mensual de Fichas</h5>
    </div>
    <div class="card-body text-center">
      <img src="https://cdn-icons-png.flaticon.com/512/732/732220.png" 
           alt="Ícono Excel" 
           width="64" 
           height="64" 
           class="mb-3" />

      <p class="card-text">Elige el archivo para generar el reporte de cada coordinación</p>
      <div class="mb-3">
        <input type="file" class="form-control-file mx-auto d-block" id="inputGroupFile04">
      </div>
      <button class="btn btn-primary mt-2">Cargar</button>
    </div>
  </div>
</div>


<br>
<br>
<div class="container">
    <div class="d-flex justify-content-end mb-2">
        <button type="button" class="btn btn-outline-success">Generar Reporte</button>
    </div>
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th>Grupo/Individual</th>
                <th>Cerrada</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>