.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-container {
  padding-bottom: 2rem;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: #0d6efd;
  color: white;
}

.accordion {
  border: 1px solid #8e9499;
  border-radius: 0.375rem;
}


.top-left {
  align-self: flex-start;
  justify-self: flex-start;
  width: 50%;
}

.top-right {
  align-self: flex-start;
  justify-self: flex-end;
  width: 50%;
  text-align: right;
}

.bottom-left {
  align-self: flex-end;
  justify-self: flex-start;
  width: 50%;
}

.bottom-right {
  align-self: flex-end;
  justify-self: flex-end;
  width: 50%;
  text-align: right;
}


.table-container {
  border-radius: 5px;
  border: 1px solid #dee2e6;
}

.nav-tabs .nav-link {
  color: #495057;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 0.75rem 1.25rem;
}

.nav-tabs .nav-link.active {
  color: #0d6efd;
  background-color: transparent;
  border-bottom: 3px solid #0d6efd;
  font-weight: 600;
}

.card {
  border: 1px solid #8e9499;
  border-radius: 0.375rem;
}

.card-header {
  background-color: #d0d5da;
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 600;
  border-color: #495057;
}

.form-check-input:checked {
  background-color: #047ec5;
  border-color: #02598b;
}


.table th {
  font-weight: 600;
  font-size: 0.875rem;
}

.table td {
  vertical-align: middle;
  font-size: 0.875rem;
}

.badge {
  font-size: 0.75rem;
}